.container{
    padding-bottom: 10%;
    padding-top: 1%;
}

.btn-outline-light{
    position: absolute;
    left: 95%;
    bottom: 87%;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    top: 15%;
}
.navbar-toggler{
    position: absolute;
    left: 2%;
    top: 8%;

}
.nav-item1{
    position: absolute;
    left: 10%;
    top: 15%;
}
.nav-item2{
    position: absolute;
    left: 31%;
    top: 15%;
}


